@import url("../../styles/style.css");

.conteudo__titulo{
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    padding: 2rem;
}

.conteudo__subtitulo{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 1rem;
}

.conteudo__opcoes{
    display: flex;
    gap: 3rem;
    justify-content: center;
    padding-top: 1rem;
}

.conteudo__svgcontainer{
    text-align: center;
    margin-top: -30px;
    margin-bottom: -60px;
}

.conteudo__calculadora{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
}

.conteudo__calculadora input{
    width: 100px;
    height: 30px;
    text-align: center;
    border: solid 1px var(--fiveth-color);
}

.conteudo__calculadora p{
    color: #757575;
    text-transform: uppercase;
    font-size: small;
}

.conteudo__resolucao{
    text-align: center;
    padding: 2rem;
}

.conteudo__explicacao{
    text-align: center;
    margin: 0 10%;
}

.conteudo__material{
    font-size: 20px;
    text-align: center;
    margin: 1rem 10%;
    padding: 1rem 0;
}

.conteudo__material p{
    padding: 1rem 0;
}

.conteudo__material__titulo{
    font-size: 28px;
    font-weight: bold;
    padding: 1rem 0;
}

.conteudo__material__perguntas{
    padding: 1rem;
}

.conteudo__material__anchorList{
    display: flex;
    gap: 1rem;
    justify-content: center;
    color: grey;
    padding-bottom: 1rem;
}

.conteudo__material__anchorList-link a{
    text-decoration: none;
    color: grey;
}

.conteudo__material__anchorList-link a:hover{
    color: var(--third-color);
    cursor: pointer;
}

.conteudo__alertaCinza{
    text-align: center;
    font-size: 14px;
    color: grey;
}

.conteudo__container__tabela{
    display: flex;
    justify-content: center;
}

.conteudo__tabela{
    margin: auto;
}

.conteudo__tabela_celula{
    min-width: 35px;
    max-width: 35px;
}

.conteudo__tabela_celula-vermelho{
    color: red;
}

.conteudo__calculadora__fracao{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.conteudo__calculadora__fracao-traco{
    width: 100%;
}

.conteudo__calculadora__fracao-explicacaoSuperior{
    margin-left: -80px;
    margin-bottom: -77px;
    transform: rotate(-25deg);
    font-size: 18px;
    color: red;
}

.conteudo__calculadora__fracao-explicacaoInferior{
    margin-left: -80px;
    margin-top: +25px;
    transform: rotate(-25deg);
    font-size: 18px;
    color: red;
}

.conteudo__calculadora__selectInput{
    height: 34px;
    border: solid 1px var(--fiveth-color);
}
